In [27]:
import pandas as pd
import numpy as np
#from random import seed
#from random import randrange
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [2]:
test= pd.read_csv("FinalTest.csv")
train= pd.read_csv("FinalTrain.csv")
NB= pd.read_csv("NaiveBayes.csv")

In [3]:
test.head()

          x          y
0  8.169133  66.539332
1  3.924027  15.504493
2  3.290728  10.484897
3  9.137913  83.818614
4  4.223755  17.921570

In [4]:
train.head()

          x          y
0  7.895703  62.560168
1  5.104911  25.694786
2  3.440665  11.963061
3  3.735857  14.085560
4  4.217874  17.737638

# 1 Find the 5-fold cross-validation error for Model 1. Report the value.

In [40]:
def predict(X, b0, b1):
    return np.array([1 / (1 + exp(-1*b0 + -1*b1*x)) for x in X])

In [5]:
#Method to create folds 

def cross_validation_split(train, folds=5):
    dataset_split = list()
    dataset_copy = list(train)
    fold_size = int(len(train) / folds)
    
    for i in range(folds):
        fold = list()
        while len(fold) < fold_size:
            index = randrange(len(dataset_copy))
            fold.append(dataset_copy.pop(index))
        dataset_split.append(fold)
    return dataset_split

In [6]:
#Create X & Y variable subsets

X_train = train[['x']]
Y_train = train[['y']]

X_test = test[['x']]
Y_test = test[['y']]

In [41]:
#k = 3
n_folds = 5
folds= cross_validation_split(train, n_folds)

for fold in folds:
    training = list(folds)
    training=

SyntaxError: invalid syntax (Temp/ipykernel_13184/216185580.py, line 7)

# 2

In [ ]:
#Does this need encoding?
NBayes

In [39]:
Sunny = pd.get_dummies(NB[['Sunny']])
Hot = pd.get_dummies(NB[['Hot']])
Windy = pd.get_dummies(NB[['Windy']])
Play = pd.get_dummies(NB[['Play']])

NBC_df = pd.concat([Sunny, Hot, Windy, Play], axis=1)

NBC_df.head()

   Sunny_0  Sunny_1  Hot_0  Hot_1  Windy_0  Windy_1  Play_0  Play_1
0        0        1      0      1        0        1       0       1
1        0        1      0      1        0        1       0       1
2        0        1      0      1        0        1       1       0
3        0        1      0      1        0        1       1       0
4        0        1      1      0        0        1       1       0

NBayes['Sunny']=np.where(NBayes['Sunny']=="No",0,1)
NBayes

In [16]:
NB['Sunny'].replace(['Yes','No'],['1','0'],inplace=True)
NB['Hot'].replace(['Yes','No'],['1','0'],inplace=True)
NB['Windy'].replace(['Yes','No'],['1','0'],inplace=True)
NB['Play'].replace(['Yes','No'],['1','0'],inplace=True)

NB.head(10)

  Sunny Hot Windy Play
0     1   1     1    1
1     1   1     1    1
2     1   1     1    0
3     1   1     1    0
4     1   0     1    0
5     1   0     1    1
6     1   0     1    1
7     1   0     1    0
8     1   0     0    0
9     0   0     0    1

In [17]:
len(NB)

60

In [25]:
from sklearn.preprocessing import MinMaxScaler

In [30]:
scaler = MinMaxScaler()
 
df_scaled = scaler.fit_transform(NB.to_numpy())
df_scaled = pd.DataFrame(df_scaled, columns=[
  'Sunny', 'Hot', 'Windy', 'Play'])
 
print("Scaled Dataset Using MinMaxScaler")
df_scaled.head()

Scaled Dataset Using MinMaxScaler

   Sunny  Hot  Windy  Play
0    1.0  1.0    1.0   1.0
1    1.0  1.0    1.0   1.0
2    1.0  1.0    1.0   0.0
3    1.0  1.0    1.0   0.0
4    1.0  0.0    1.0   0.0

In [31]:
NB_test= df_scaled.head(10)
NB_train= df_scaled.tail(50)

In [37]:
#Function
def pxy_funct(x, y_mean, Y_variance):
    p = 1/(np.sqrt(2*np.pi* Y_variance)) * np.exp((-(x-y_mean)**2)/(2* y_variance))
    return p

Whatâ€™s the prior distribution for playing/not playing tennis?

In [35]:
X_test1 = NB_test[['Sunny', 'Hot','Windy']]
Y_test1 = NB_test[['Play']]

X_train1 = NB_train[['Sunny', 'Hot','Windy']]
Y_train1 = NB_train[['Play']]

In [ ]:
X_test1 = NB_test[['Sunny']]
Y_test1 = NB_test[['Play']]

X_train1 = NB_train[['Sunny']]
Y_train1 = NB_train[['Play']]

In [45]:
df = pd.crosstab(NB_test[['Sunny']], NB_test[['Play']])
Prob_Num = df.divide(df .sum(axis=1), axis=0)
Dist_Num = pd.DataFrame(distance_matrix(Prob_Num.values, Prob_Num.values)**2, index=Prob_Num.index, columns=Prob_Num.index)
Dist_Num

ValueError: Data must be 1-dimensional

In [ ]:
X_test1 = NB_test[['Hot']]
Y_test1 = NB_test[['Play']]

X_train1 = NB_train[['Hot']]
Y_train1 = NB_train[['Play']]

In [ ]:
X_test1 = NB_test[['Windy']]
Y_test1 = NB_test[['Play']]

X_train1 = NB_train[['Windy']]
Y_train1 = NB_train[['Play']]