In [ ]:
Final

Final

In [31]:
trip <- read.csv('C:/Users/Sandy/Desktop/R CSV FILES/imagesSVD.csv', header = FALSE)

In [32]:
dim(trip)
dim(b)
dim(trop)
dim(tsop)

[1] 512 512

[1]  256 2007

[1]    1 1707

[1]    1 2007

In [33]:
##Form a matrix A for each digit, such that each row in A represents an image of that digit. (You 
##will have 10 A’s).

In [34]:
tr = rbind(trip,trop)
a = t(tr)
A = as.matrix(a)
A0 = A[A[,257] == 0, 1:256]
A1 = A[A[,257] == 1, 1:256]
A2 = A[A[,257] == 2, 1:256]
A3 = A[A[,257] == 3, 1:256]
A4 = A[A[,257] == 4, 1:256]
A5 = A[A[,257] == 5, 1:256]
A6 = A[A[,257] == 6, 1:256]
A7 = A[A[,257] == 7, 1:256]
A8 = A[A[,257] == 8, 1:256]
A9 = A[A[,257] == 9, 1:256]

ERROR: Error in rbind(deparse.level, ...): numbers of columns of arguments do not match

In [35]:
##Determine the singular value decomposition for each A. (Right singular vectors Vi are an 
##orthogonal basis in the image space of that digit. We will refer to the right singular vectors as 
##“singular images.”) You should get 10 sets of singular images, one for each digit.

In [61]:
A0S = svd(A0)
A1S = svd(A1)
A2S = svd(A2)
A3S = svd(A3)
A4S = svd(A4)
A5S = svd(A5)
A6S = svd(A6)
A7S = svd(A7)
A8S = svd(A8)
A9S = svd(A9)

In [37]:
##Express test images as a linear combination of the first k=20 singular images of each digit.
##(This is a least square problem of the form Ax=b).

In [38]:
A0T =  A0S$v[,1:20]
A1T =  A1S$v[,1:20]
A2T =  A2S$v[,1:20]
A3T =  A3S$v[,1:20]
A4T =  A4S$v[,1:20]
A5T =  A5S$v[,1:20]
A6T =  A6S$v[,1:20]
A7T =  A7S$v[,1:20]
A8T =  A8S$v[,1:20]
A9T =  A9S$v[,1:20]

In [39]:
##Compute the distance between test images and their least square approximations.

In [40]:
B = as.matrix(b)

In [41]:
#install.packages("MASS")

# test	images	as	a	linear	combination	of	the	first	k=20 singular	images	of	each	digit
library(MASS)
X0 = ginv(A0T)%*%B
X1 = ginv(A1T)%*%B
X2 = ginv(A2T)%*%B
X3 = ginv(A3T)%*%B
X4 = ginv(A4T)%*%B
X5 = ginv(A5T)%*%B
X6 = ginv(A6T)%*%B
X7 = ginv(A7T)%*%B
X8 = ginv(A8T)%*%B
X9 = ginv(A9T)%*%B

In [42]:
# Creating empty vectors to append later in the excercise

error.matrix.A0 <- c()
error.matrix.A1 <- c()
error.matrix.A2 <- c()
error.matrix.A3 <- c()
error.matrix.A4 <- c()
error.matrix.A5 <- c()
error.matrix.A6 <- c()
error.matrix.A7 <- c()
error.matrix.A8 <- c()
error.matrix.A9 <- c()

In [43]:
# these for loops will calculate distance between test image and their least square approximations and apend the result in respective vectors created above
for (i in 1:2007) {
error = norm(as.matrix(B[,i]) - A0T%*%X0[,i], '2')
error.matrix.A0 <- append(error.matrix.A0, error)
}
for (i in 1:2007) {
error = norm(as.matrix(B[,i]) - A1T%*%X1[,i], '2')
error.matrix.A1 <- append(error.matrix.A1, error)
}
for (i in 1:2007) {
error = norm(as.matrix(B[,i]) - A2T%*%X2[,i], '2')
error.matrix.A2 <- append(error.matrix.A2, error)
}
for (i in 1:2007) {
error = norm(as.matrix(B[,i]) - A3T%*%X3[,i], '2')
error.matrix.A3 <- append(error.matrix.A3, error)
}
for (i in 1:2007) {
error = norm(as.matrix(B[,i]) - A4T%*%X4[,i], '2')
error.matrix.A4 <- append(error.matrix.A4, error)
}
for (i in 1:2007) {
error = norm(as.matrix(B[,i]) - A5T%*%X5[,i], '2')
error.matrix.A5 <- append(error.matrix.A5, error)
}
for (i in 1:2007) {
error = norm(as.matrix(B[,i]) - A6T%*%X6[,i], '2')
error.matrix.A6 <- append(error.matrix.A6, error)
}
for (i in 1:2007) {
error = norm(as.matrix(B[,i]) - A7T%*%X7[,i], '2')
error.matrix.A7 <- append(error.matrix.A7, error)
}
for (i in 1:2007) {
error = norm(as.matrix(B[,i]) - A8T%*%X8[,i], '2')
error.matrix.A8 <- append(error.matrix.A8, error)
}
for (i in 1:2007) {
error = norm(as.matrix(B[,i]) - A9T%*%X9[,i], '2')
error.matrix.A9 <- append(error.matrix.A9, error)
}

In [44]:
# creating final error matrix with all the approximations
error.matrix <- cbind(error.matrix.A0,error.matrix.A1, error.matrix.A2, error.matrix.A3,error.matrix.A4, error.matrix.A5, error.matrix.A6, error.matrix.A7, error.matrix.A8, error.matrix.A9)

In [45]:
dim(error.matrix)

[1] 2007   10

In [46]:
Error.df <- as.data.frame(error.matrix)

In [47]:
#install.packages("tidyverse")
# Renaming all the column names to corresponding digits
library(tidyverse)

Error.df <- Error.df %>% 
  rename(
    Digit.0 = error.matrix.A0 ,
    Digit.1 = error.matrix.A1 ,
    Digit.2 = error.matrix.A2 ,
    Digit.3 = error.matrix.A3 ,
    Digit.4 = error.matrix.A4 ,
    Digit.5 = error.matrix.A5 ,
    Digit.6 = error.matrix.A6 ,
    Digit.7 = error.matrix.A7 ,
    Digit.8 = error.matrix.A8 ,
    Digit.9 = error.matrix.A9 ,
    )

In [48]:
# this for loop will find the respective column name for the value that matches the minimum value

Classification.test <- c()
for (i in 1:2007) {
f <- names(Error.df)[which(Error.df == min(Error.df[i,]), arr.ind=T)[, "col"]]
Classification.test <- append(Classification.test, f)
}

In [49]:
Classification.test <- as.data.frame(Classification.test) # converting the matrix to a dataframe

In [50]:
#Classification.test$index <- 1:nrow(Classification.test)

In [51]:
Actual.values <- t(tsop) # transpose of the given test output file

In [52]:
Classification.test <- Classification.test %>% separate(Classification.test, c("A", "Predicted.Values"))
final.df <- cbind(Classification.test,Actual.values) # Final data set with predicted and actual values

In [53]:
final.df <- final.df %>% select(-c(A) )  # removing unnecessary column

In [54]:
head(final.df)

   Predicted.Values Actual.values
V1 9                9
V2 6                6
V3 3                3
V4 0                6
V5 6                6
V6 0                0

In [55]:
sum(final.df['Predicted.Values'] == final.df['Actual.values'])/nrow(final.df)

[1] 0.939711

In [56]:
#install required packages 
#install.packages('gmodels')
#import required library 
library(gmodels)
 
#Computes the crosstable calculations or confusion matrix
Confusion.Matrix <- CrossTable(final.df$Actual.values, final.df$Predicted.Values)

ERROR: Error in library(gmodels): there is no package called 'gmodels'

In [57]:
t <- as.matrix(table(final.df$Actual.values, final.df$Predicted.Values)) # creating table to calculate classification rates

In [58]:
overall.correct.classification.rate <- sum(diag(t))/nrow(final.df) # overall accuracy of the model

In [59]:
overall.correct.classification.rate

[1] 0.939711

In [60]:
# correct classification of each digit

for (i in 1:10) {
classification.digit <- diag(t)[i]/sum(final.df['Actual.values']==i-1)
cat("The classification for digit:",i , "is", classification.digit, "\n")
}

The classification for digit: 1 is 0.9888579
The classification for digit: 2 is 0.9810606
The classification for digit: 3 is 0.9040404
The classification for digit: 4 is 0.8915663
The classification for digit: 5 is 0.935
The classification for digit: 6 is 0.875
The classification for digit: 7 is 0.9647059
The classification for digit: 8 is 0.9455782
The classification for digit: 9 is 0.8975904
The classification for digit: 10 is 0.9378531